body {
  font-family: Arial, sans-serif;
  background-image: url('/images/chatterbox-bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

div#main {
  padding-top: 5px;
  width: 820px;
  margin: 0 auto;
}

div#session {
  margin-bottom: 10px;
  text-align: right;
  float: right;
}

#flash {
  clear: both;
}

#flash .alert {
  border: 3px solid #FBC2C4;
  background: #FBE3E4;
  color: #8A1F11;
}

#flash .notice {
  border: 3px solid #92CAE4;
  background: #D5EDF8;
  color: #205791;
}

div#chatlog {
  border: 1px solid black;
  width: 800px;
  height: 500px;
  overflow-y: scroll;
  background: #fff;
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}

div#chatlog p {
  padding: 0;
  margin: 0;
}

div#chatinput input[type=text] {
  width: 750px;
  margin-bottom: 50px;
}
