body {
  font-family: Arial, sans-serif;
  background-image: url('/images/chatterbox-bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

div#main {
  padding: 10px;
  width: 820px;
  margin: 0 auto;

  border-width: 0 1px;
  border-style: solid;
  border-color: #000;

  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}

div#session {
  margin-bottom: 10px;
  text-align: right;
  float: right;
}

#flash {
  clear: both;
}

#flash .alert {
  border: 3px solid #FBC2C4;
  background: #FBE3E4;
  color: #8A1F11;
}

#flash .notice {
  border: 3px solid #92CAE4;
  background: #D5EDF8;
  color: #205791;
}

div#chatlog {
  border: 1px solid black;
  width: 800px;
  height: 500px;
  overflow-y: scroll;

  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.35);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cffffff, endColorstr=#4cffffff)";
}

div#chatlog p {
  padding: 0;
  margin: 0;
}

div#chatinput input[type=text] {
  width: 750px;
  margin-bottom: 50px;
}
