development:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
  signature_expiration:
test:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
  signature_expiration:
production:
  server: "http://localhost:9292/faye"
  secret_token: "secret"
  signature_expiration:
