<h1>Chatterbox</h1>

<p>Welcome to Chatterbox, where it's easy to set up public and private chat
  rooms for you and your friends or colleagues.</p>
<p><%= link_to "Create a room", new_room_path, :id => :new_room %> or
  <%= link_to "join an existing room", join_rooms_path, :id => :join_room %>.</p>